* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body main section {
    background-color: antiquewhite;
    text-align: center;
    background-image: url("../img/Zaun.avif");
    background-size: contain;
    color: white;
}

body main section p {
    margin: 10px 0;
}

body main article {
    text-align: left;
    background-image: url("../img/fenster.avif");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    
}

body main article ul {
    padding-left: 20px
}