* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

section {
    height: 100vh;
    width: 100vw;
    background-color: blue;
    background-image: url("../img/Essen_mit_Zitrone.jpg");
    background-position: center;
    background-size: cover;
}

/* ! Muss ich noch was am Bild ändern, damit Bild bei Veränderung des Browsers nicht beschnitten wird? */